<script>
    import FilterButton from "./FilterButton.svelte";
    import SortButton from "./SortButton.svelte";

</script>
<div class="header">
    <p>All Games</p>
    <div class="buttons">
        <FilterButton />
        <SortButton />
    </div>
</div>
<hr>

<style>
    p {
        display: inline-block;
        font-size: var(--font-size-header);
        font-weight: bold;
        color: white;
        margin: 0;
        margin-top: 3rem;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .buttons {
        margin-top: 4rem;
    }

    hr {
        background-color: #d7cbe86e;
        margin: 0;
        margin-top: 1.5rem;
    }
</style>