<script>
    import MoreButton from "./MoreButton.svelte";

    export let header_title = "Title"
    export let show_more_button = "true"
</script>

<div class="header">
    <p>{header_title}</p>
    {#if show_more_button === "true"}
        <MoreButton />
    {/if}
</div>

<style>
    p {
        display: inline-block;
        font-size: var(--font-size-header);
        font-weight: bold;
        color: white;
        margin: 0;
        margin-top: 3rem;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
</style>