<p class="filter-button">filter</p>

<style>
    p {
        display: inline-block;
        font-size: var(--font-size-header);
        font-weight: bold;
        color: white;
        margin: 0;
    }

    .filter-button {
        font-size: var(--font-size-small);
        align-self: flex-end;
        padding: 0.5rem 1.3rem;
        background-color: #46e2c6;
        border-radius: 20%/50%;
        color: #2f2440;
        transition: all 400ms;
        cursor: pointer;
        margin: 0 0.5rem;
    }
    
    .filter-button:hover {
        transform: scale(1.2);
    }
    
    .filter-button:active {
        transform: scale(0.8);
    }
</style>