<script>
    import { onMount } from "svelte";

    export let igdb_id;
    export let game_title = "loading..."
    export let stars = 5
    export let summary = "loading..."
    export let cover_url = "/resources/loading-v.png";
    export let reviews = [];

    let dialog = null;
    let rating_input = null;
    let review_text_input = null;

    onMount(async () => {
        dialog = document.querySelector("dialog");
        rating_input = document.getElementById("rating-input");
        review_text_input = document.getElementById("review-text-input");

        // Get game data
		fetch("http://192.168.0.24:8080/games/" + igdb_id)
		.then(response => response.json())
		.then(data => {
			console.log(data);
            game_title = data.name;
            stars = 4;
            summary = data.summary;
            cover_url = data.coverUrl;
		}).catch(error => {
			console.log(error);
			return [];
		});

        // Get game data
		fetch("http://192.168.0.24:8080/reviews/game/" + igdb_id)
		.then(response => response.json())
		.then(data => {
			console.log(data);
            reviews = data;
		}).catch(error => {
			console.log(error);
			return [];
		});
    });

    function submitReview() {
        let request_body = JSON.stringify({
            userId: $loggedUserStore.id,
            gameId: igdb_id,
            rating: rating_input.value,
            text: review_text_input.value,
            likes: 0
        })

        console.log(request_body)

        fetch("http://192.168.0.24:8080/reviews",  {
            method: "POST",
            body: request_body,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(() => {
            location.reload();
        }).catch(error => {
            console.log(error);
        })
    }

    import ContentHeader from "./ContentHeader.svelte";
    import Review from "./Review.svelte";
    import { loggedUserStore } from "../store";
</script>

<div class="background-gradient">
    <div class="main-content">
        <div class="game-data">
            <div class="game-portrait">
                <div class="portrait-image" style="--cover-image: url({cover_url})"></div>
            </div>
            <div class="game-info">
                <p class="game-title">{game_title}</p>
                <p class="game-rating">
                    {#if stars >= 1}
                        <i class="fa-solid fa-star yellow-star"></i>
                    {:else}
                        <i class="fa-solid fa-star grey-star"></i>
                    {/if}
                    {#if stars >= 2}
                        <i class="fa-solid fa-star yellow-star"></i>
                    {:else}
                        <i class="fa-solid fa-star grey-star"></i>
                    {/if}
                    {#if stars >= 3}
                        <i class="fa-solid fa-star yellow-star"></i>
                    {:else}
                        <i class="fa-solid fa-star grey-star"></i>
                    {/if}
                    {#if stars >= 4}
                        <i class="fa-solid fa-star yellow-star"></i>
                    {:else}
                        <i class="fa-solid fa-star grey-star"></i>
                    {/if}
                    {#if stars >= 5}
                        <i class="fa-solid fa-star yellow-star"></i>
                    {:else}
                        <i class="fa-solid fa-star grey-star"></i>
                    {/if}
                </p>
                <div class="game-summary"><p>{summary}</p></div>
                <button on:click={ () => { dialog.showModal()} }>Write a review</button>
            </div>
        </div>
        <ContentHeader header_title="Reviews" show_more_button="false"/>
        <hr>
        <div class="reviews">
            {#each reviews as review}
                <Review account_name={review.user.displayName} game_title={game_title} review_likes={review.likes} stars={review.rating} review_text={review.text} cover_url={cover_url} game_id={igdb_id} user_id={review.user.id} />
            {/each}
        </div>
    </div>

    <div class="footer"></div>

    <dialog class="review-dialog">
        <p>Write a new review!</p>
        <label class="rating-label">Give the game a rating
            <input
                class="rating rating--nojs"
                id="rating-input"
                max="5"
                step="1"
                type="range"
                value="0">
        </label>
        <label class="review-text-label">Tell everyone your thoughts on the game!
            <textarea class="review-text" id="review-text-input" />
        </label>
           
        <button class="form-close-button" on:click={() => dialog.close()}>Close</button>
        <button class="form-submit-button" on:click={() => submitReview()}>Submit Review</button>
    </dialog>
</div>

<style>
    /* Styling for the review dialog modal */
    .review-dialog {
        position: absolute;
        width: 50%;
        height: 75%;
        border-width: 0;
        border-radius: 2rem;
        background-color: #2F2440;
        padding: 2rem;
    }

    .review-dialog[open] {
        display: flex;
        flex-direction: column;
    }

    .review-dialog::backdrop {
        backdrop-filter: blur(5px);
    }

    .review-dialog p {
        width: 100%;
        text-align: center;
        color: white;
        margin: 0;
        margin-bottom: 1rem;
        font-size: var(--font-size-header);
        font-weight: bold;
    }

    .rating-label, .review-text-label {
        color: white;
        font-size: var(--font-size-normal);
        font-weight: bold;
    }

    .rating, .review-text {
        margin-top: 1rem;
    }

    .review-text {
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        resize: none; /*remove the resize handle on the bottom right*/

        width: 100%;
        background-color: #624f812c;
        border-radius: 1rem;
        border-width: 0;
        font-size: var(--font-size-normal);
        color: #aea1c2;
        padding: 1rem;
        min-height: 10rem;
    }

    .form-close-button {
        margin-top: auto;
    }

    .form-submit-button {
        background-color: #46E2C6;
    }

    /* NO JS */
    .rating {
        --dir: right;
        --fill: gold;
        --fillbg: rgba(100, 100, 100, 0.15);
        --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
        --stars: 5;
        --starsize: 3rem;
        --symbol: var(--star);
        --value: 3;
        --w: calc(var(--stars) * (var(--starsize) + 0.3rem));
        --x: calc(100% * (var(--value) / var(--stars)));
        
        min-height: calc(var(--starsize) + 1rem);
        block-size: var(--starsize);
        inline-size: var(--w);
        position: relative;
        touch-action: manipulation;
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border-width: 0;
        margin: 0;
    }

    .rating::-moz-range-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
    }
    .rating::-webkit-slider-runnable-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
        -webkit-mask: repeat left center/var(--starsize) var(--symbol);
    }
    .rating::-moz-range-thumb {
        height: var(--starsize);
        opacity: 0;
        margin: 0;
        width: var(--starsize);
    }
    .rating::-webkit-slider-thumb {
        height: var(--starsize);
        opacity: 0;
        margin: 0;
        width: var(--starsize);
        -webkit-appearance: none;
    }
    .rating, .rating-label {
        display: block;
    }
    .rating-label {
        margin-block-end: 1rem;
    }

    .rating--nojs::-moz-range-track {
        background: var(--fillbg);
    }
    .rating--nojs::-moz-range-progress {
        background: var(--fill);
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--star);
    }
    .rating--nojs::-webkit-slider-runnable-track {
        background: var(--fillbg);
    }
    .rating--nojs::-webkit-slider-thumb {
        background-color: var(--fill);
        box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
        opacity: 1;
        width: 1px;
    }

    /* Styling for the background */
    .background-gradient {
        background-image: linear-gradient(#624F81, #2F2440);
        background-color: #2F2440;
        background-image:         linear-gradient(top, #624F81 0%, #2F2440 300px); /* W3C */
        background-image:    -moz-linear-gradient(top, #624F81 0%, #2F2440 300px); /* FF3.6+ */
        background-image: -webkit-linear-gradient(top, #624F81 0%, #2F2440 300px); /* Chrome10+,Safari5.1+ */
    }

    .main-content {
        padding-top: 2rem;
        min-height: 100vh;
    }

    /* Sytling for the game section */
    .game-data {
        width: 100%;
        display: inline-flex;
        margin: 0;
        margin-top: 1rem;
    }

    .game-portrait {
        min-width: 30%;
        height: 30rem;
        overflow: hidden;
        border-radius: 1rem;
        margin-right: 3rem;
    }
    
    .portrait-image {
        width: 100%;
        height: 100%;
        background: var(--cover-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 400ms;
    }

    .game-info {
        width: 100%;
    }

    .game-title {
        color: white;
        margin: 0;
        font-size: var(--font-size-header);
        font-weight: bold;
    }

    .game-rating {
        font-size: var(--font-size-normal);
    }

    .game-rating .yellow-star {
        color: #FFE500;
    }

    .game-rating .grey-star {
        color: #978AAB;
    }

    .game-summary {
        margin: 0;
        margin-top: 0.7rem;
        background-color: #624f8169;
        border-radius: 1rem;
        padding: 0.4rem 1.9rem;
    }
    
    .game-summary p {
        line-height: 1.2em;
        min-height: calc(1.2em * 8);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        line-clamp: 8;
        overflow: hidden;
        color: #978AAB;
        font-size: var(--font-size-normal);
    }

    button {
        cursor: pointer;
        color: white;
        background-color: #E225A2;
        border-width: 0;
        width: 100%;
        margin-top: 1.2rem;
        border-radius: 1rem;
        font-size: var(--font-size-normal);
        font-weight: bold;
    }

    /* Styling for the reviews section */
    hr {
        background-color: #d7cbe86e;
        margin: 0;
        margin-top: 1.5rem;
    }

    .reviews {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .footer {
        height: 5rem;
    }
</style>