<script>
    import { goto } from 'elegua'

    export let igdb_id
    export let played_count
    export let like_count
    export let review_count
    export let rating
    export let cover_url

    function gotoGame() {
        goto("/game/" + igdb_id);
    }
</script>

<div class="game-portrait" on:click={() => gotoGame()} on:keypress={() => {}}>
    <div class="portrait-image" style="--cover-image: url({cover_url})"></div>
    <div class="overlay">
        <p class="overlay-text"><i class="fa-solid fa-gamepad"></i> {played_count}</p>
        <p class="overlay-text"><i class="fa-solid fa-heart"></i> {like_count}</p>
        <p class="overlay-text"><i class="fa-solid fa-file-lines"></i> {review_count}</p>
        <p class="overlay-text"><i class="fa-solid fa-star"></i> {rating}</p>
    </div>
</div>

<style>
    :root {
        --overlay-size: 6rem;
        --overlay-padding: 1rem;
        --border-radius: 1rem;
    }

    .game-portrait {
        height: 20rem;
        overflow: hidden;
        border-radius: var(--border-radius);
        cursor: pointer;
    }
    
    .portrait-image {
        width: 100%;
        height: 100%;
        background: var(--cover-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 400ms;
    }

    .overlay {
        max-width: 100%;
        max-height: var(--overlay-size);
        transition: 400ms ease;
        background-color: #624F81cb;
        border-radius: var(--border-radius);
        overflow: hidden;

        display: grid;
        grid-template-columns: repeat(2, 2fr);
        row-gap: 0;
        column-gap: 0;
        padding: var(--overlay-padding);
    }
    
    .game-portrait:hover .overlay {
        transform: translate(0, calc((var(--overlay-size) + var(--overlay-padding) * 2) * -1));
    }

    .overlay-text {
        color: white;
        font-family: var(--font-family);
        font-size: calc(var(--font-size-small) * 1.4);
        font-weight: bold;
        
        margin: 0;
        line-height: calc(var(--overlay-size) * 0.5);
        text-align: center;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }

    .game-portrait:hover .overlay-text {
        opacity: 1;
    }

    .overlay-text:nth-child(1) {
        color: #46E2C6;
    }

    .overlay-text:nth-child(2) {
        color: #FF2511;
    }

    .overlay-text:nth-child(3) {
        color: #E225A2;
    }
    
    .overlay-text:nth-child(4) {
        color: #FFE500;
    }
</style>