<script>
    import { loggedUserStore, searchGamesStore } from "../store.js";
    import { goto } from 'elegua';

    function onSearchKeyDown(e) {
        if (e.key === "Enter") {
            searchGamesStore.set([])
            fetch("http://192.168.0.24:8080/games?query=" + document.getElementById("search-input").value)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                searchGamesStore.set(data)
            }).catch(error => {
                console.log(error);
                return [];
            });
            
            goto("/search")
        }
    }
</script>

<div class="background">
    <ul class="main-content">
        <li><button on:click|preventDefault={() => goto("/")}><img src="../resources/logo.svg" alt=""></button></li>
        <li><div></div><button on:click={() => goto("/user/" + $loggedUserStore.id)}>{$loggedUserStore.displayName}</button></li>
        <li><button on:click|preventDefault={() => goto("/games")}>games</button></li>
        <li><button>members</button></li>
        <li><input type="text" id="search-input" placeholder="search" on:keydown={onSearchKeyDown}></li>
    </ul>
</div>

<style>
    .background {
        background-color: #2F2440;
        height: 6rem;
        overflow: hidden;
        transition: all 400ms;
    }

    ul {
        height: 100%;
        width: 60%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    li {
        font-family: var(--font-family);
        font-weight: bold;
        font-size: var(--font-size-normal);
        color: white;
        text-transform: lowercase;
        
        padding: 0;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    li button {
        all: unset;
        cursor: pointer;
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: all 400ms;
        margin: auto;
    }

    li button:hover {
        font-size: calc(var(--font-size-normal) * 1.2);
    }

    li div {
        width: 3rem;
        height: 3rem;
        background-color: #46E2C6;
        display: inline-block;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    input[type=text] {
        float: right;
        padding: 0.5rem;
        border: none;
        margin-top: 0.5rem;
        margin-right: 1rem;
        border-radius: 10%/50%;
        max-width: 15rem;
        background-color: #D7CBE8;
        outline: none;
        transition: all 400ms;
        padding-left: 1.5rem;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: var(--font-size-normal);
        color: #978AAB;
    }

    input[type=text]:focus {
        max-width: 20rem;
        border-radius: 7%/50%;
    }
</style>