<script>
    import NewReviews from "./NewReviews.svelte";
    import TrendingGames from "./TrendingGames.svelte";
    import TrendingReviews from "./TrendingReviews.svelte";
</script>

<div class="background-gradient">
    <div class="main-content">
        <TrendingGames />
        <div class="reviews">
            <TrendingReviews />
            <div class="reivew-separator"></div>
            <NewReviews />
        </div>
    </div>

    <div class="footer"></div>
</div>

<style>
    .background-gradient {
        background-image: linear-gradient(#624F81, #2F2440);
        background-color: #2F2440;
        background-image:         linear-gradient(top, #624F81 0%, #2F2440 300px); /* W3C */
        background-image:    -moz-linear-gradient(top, #624F81 0%, #2F2440 300px); /* FF3.6+ */
        background-image: -webkit-linear-gradient(top, #624F81 0%, #2F2440 300px); /* Chrome10+,Safari5.1+ */
    }

    .footer {
        height: 5rem;
    }

    .reviews {
        width: 100%;
        display: inline-flex;
    }

    .reviews .reivew-separator {
        width: 2rem;
    }
</style>