<script>
    export let game_name = "Elden Ring";
    export let game_banner = "/resources/elden-h.png";
</script>

<div class="main-banner">
    <div class="banner-image" style="--background-image: url({game_banner})"></div>
    <div class="overlay">
        <p class="overlay-text">{game_name}</p>
    </div>
</div>

<style>
    .main-banner {
        overflow: hidden;
        transition: all 400ms;
        cursor: pointer;
        border-radius: 2rem;
        width: 100%;
        height: 100%;
    }

    .banner-image {
        width: 100%;
        height: 100%;
        padding: 0;
        background: var(--background-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 400ms;
    }

    .main-banner:hover .banner-image {
        transform: scale(1.5);
    }

    .overlay {
        width: 100%;
        height: 4rem;
        transition: 400ms ease;
        background-color: #624F81cb;
        border-radius: 2rem;
        overflow: hidden;
    }
    
    .main-banner:hover .overlay {
        transform: translate(0, -4rem);
    }

    .overlay-text {
        color: white;
        font-family: var(--font-family);
        font-size: calc(var(--font-size-normal) * 1.4);
        font-weight: bold;
        
        margin: 0;
        padding-left: 2rem;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        text-align: left;
        opacity: 0;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }

    .main-banner:hover .overlay-text {
        opacity: 1;
    }
</style>