<script>
    import { goto } from 'elegua';

    export let user_id
    export let account_name
    export let game_id
    export let game_title
    export let review_likes
    export let stars
    export let review_text
    export let cover_url

    function gotoGame() {
        goto("/game/" + game_id);
    }

    function gotoUser() {
        goto("/user/" + user_id)
    }
</script>

<div class="content">
    <div class="game-portrait">
        <div class="portrait-image" style="--cover-image: url({cover_url})"></div>
    </div>
    <div class="review-data">
        <p class="account-name" on:click={() => gotoUser()} on:keydown={() => {}}>@{account_name}</p>
        <p class="game-title" on:click={() => gotoGame()} on:keydown={() => {}}>{game_title}</p>
        <p class="review-likes"><i class="fa-solid fa-heart"></i> {review_likes} likes</p>
        <p class="review-rating">
            
            {#if stars >= 1}
                <i class="fa-solid fa-star yellow-star"></i>
            {:else}
                <i class="fa-solid fa-star grey-star"></i>
            {/if}
            {#if stars >= 2}
                <i class="fa-solid fa-star yellow-star"></i>
            {:else}
                <i class="fa-solid fa-star grey-star"></i>
            {/if}
            {#if stars >= 3}
                <i class="fa-solid fa-star yellow-star"></i>
            {:else}
                <i class="fa-solid fa-star grey-star"></i>
            {/if}
            {#if stars >= 4}
                <i class="fa-solid fa-star yellow-star"></i>
            {:else}
                <i class="fa-solid fa-star grey-star"></i>
            {/if}
            {#if stars >= 5}
                <i class="fa-solid fa-star yellow-star"></i>
            {:else}
                <i class="fa-solid fa-star grey-star"></i>
            {/if}
        </p>
        <div class="review-text"><p>{review_text}</p></div>
    </div>
</div>

<style>
    .content {
        height: 16rem;
        width: 100%;
        display: inline-flex;
        margin: 0;
        margin-top: 1rem;
    }

    .game-portrait {
        width: 30%;
        height: 100%;
        overflow: hidden;
        border-radius: 1rem;
    }
    
    .portrait-image {
        width: 100%;
        height: 100%;
        background: var(--cover-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 400ms;
    }

    .review-data {
        width: 70%;
        color: white;
        margin-left: 1rem;
    }

    .review-data p {
        margin: 0;
        margin-bottom: 0.2rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }

    .account-name {
        color: #978AAB;
        font-size: var(--font-size-small);
        cursor: pointer;
    }

    .game-title {
        color: white;
        font-size: var(--font-size-header);
        font-weight: bold;
        cursor: pointer;
    }

    .review-likes {
        font-size: var(--font-size-small);
        font-weight: bold;
        color: #FF2511;
        cursor: pointer;
    }

    .review-rating {
        font-size: var(--font-size-normal);
    }

    .review-rating .yellow-star {
        color: #FFE500;
    }

    .review-rating .grey-star {
        color: #978AAB;
    }

    .review-text {
        margin: 0;
        margin-top: 0.4rem;
        background-color: #624f8169;
        border-radius: 1rem;
        padding: 0.9rem;
    }
    
    .review-text p {
        line-height: 1.2em;
        min-height: calc(1.2em * 5);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
        color: #978AAB;
        font-size: var(--font-size-small);
    }
</style>