<script>
    import { searchGamesStore } from "../store";
    import ContentHeader from "./ContentHeader.svelte";
    import Game from "./Game.svelte";
</script>

<div class="background-gradient">
    <div class="main-content">
        <ContentHeader header_title="Search results" show_more_button="false" />
        <hr>
        <div class="games">
            {#each $searchGamesStore as game}
                <Game played_count={Math.floor(Math.random() * game.reviewCount + game.reviewCount)} like_count={Math.floor(Math.random() * game.reviewCount + game.reviewCount)} review_count={game.reviewCount} rating={game.averageRating} cover_url={game.coverUrl} igdb_id={game.id} />
            {/each}
        </div>
    </div>

    <div class="footer"></div>
</div>

<style>
    hr {
        background-color: #d7cbe86e;
        margin: 0;
        margin-top: 1.5rem;
    }

    .background-gradient {
        min-height: calc(100% - 6rem);
        background-image: linear-gradient(#624F81, #2F2440);
        background-color: #2F2440;
        background-image:         linear-gradient(top, #624F81 0%, #2F2440 300px); /* W3C */
        background-image:    -moz-linear-gradient(top, #624F81 0%, #2F2440 300px); /* FF3.6+ */
        background-image: -webkit-linear-gradient(top, #624F81 0%, #2F2440 300px); /* Chrome10+,Safari5.1+ */
    }

    .footer {
        height: 5rem;
    }

    .games {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
    }
</style>