<script>
    export let game_name = "Elden Ring"
    export let game_banner = "/resources/elden-h.png"
</script>

<div class="secondary-banner">
    <div class="banner-image" style="--background-image: url({game_banner})"></div>
    <div class="overlay">
        <p class="overlay-text">{game_name}</p>
    </div>
</div>

<style>
    .secondary-banner {
        overflow: hidden;
        transition: all 400ms;
        cursor: pointer;

        width: 100%;
        height: 100%;
        transform: scale(0.9);
        border-radius: 1rem;
    }

    .secondary-banner:hover .banner-image {
        transform: scale(1.5);
    }
    
    .banner-image {
        width: 100%;
        height: 100%;
        background: var(--background-image);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 400ms;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 400ms ease;
        background-color: #46e2c5cb;
    }

    .secondary-banner:hover .overlay {
        opacity: 1;
    }

    .overlay-text {
        color: white;
        font-family: var(--font-family);
        font-size: calc(var(--font-size-normal) * 1.4);
        font-weight: bold;
        
        width: 90%;
        position: absolute;
        top: 25%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }
</style>