<p class="sort-button">sort</p>

<style>
    p {
        display: inline-block;
        font-size: var(--font-size-header);
        font-weight: bold;
        color: white;
        margin: 0;
    }

    .sort-button {
        font-size: var(--font-size-small);
        align-self: flex-end;
        padding: 0.5rem 1.5rem;
        background-color: #E225A2;
        border-radius: 20%/50%;
        color: #2f2440;
        transition: all 400ms;
        cursor: pointer;
    }
    
    .sort-button:hover {
        transform: scale(1.2);
    }
    
    .sort-button:active {
        transform: scale(0.8);
    }
</style>