<script>
    import { trendingGamesStore } from "../store";
    import { goto } from 'elegua';

    export let trendingGames
    trendingGamesStore.subscribe(tg => {
        if (Array.isArray(tg) && tg.length) {
            console.log(tg)
            trendingGames = tg;
        } else {
            trendingGames = [
                { name: "loading", coverUrl: "/resources/loading-v.png", screenshotUrl: "/resources/loading-v.png", },
                { name: "loading", coverUrl: "/resources/loading-v.png", screenshotUrl: "/resources/loading-v.png", },
                { name: "loading", coverUrl: "/resources/loading-v.png", screenshotUrl: "/resources/loading-v.png", },
                { name: "loading", coverUrl: "/resources/loading-v.png", screenshotUrl: "/resources/loading-v.png", },
                { name: "loading", coverUrl: "/resources/loading-v.png", screenshotUrl: "/resources/loading-v.png", },
            ]
        }
    })

    function gotoGame(game) {
        goto("/game/" + game.id);
    }

    import SecondaryBanner from "./SecondaryBanner.svelte";
    import MainBanner from "./MainBanner.svelte";
    import ContentHeader from "./ContentHeader.svelte";
</script>

<ContentHeader header_title="Trending Games" />
<div class="banners">
    <button on:click={() => gotoGame(trendingGames[0])} class="main-banner-container">
        <MainBanner game_name={trendingGames[0].name} game_banner={trendingGames[0].screenshotUrl} />
    </button>
    <div class="secondary-banners">
        <button on:click={ () => gotoGame(trendingGames[1]) }>
            <SecondaryBanner game_name={trendingGames[1].name} game_banner={trendingGames[1].screenshotUrl}/>
        </button>
        <button on:click={ () => gotoGame(trendingGames[2]) }>
            <SecondaryBanner game_name={trendingGames[2].name} game_banner={trendingGames[2].screenshotUrl} />
        </button>
        <button on:click={ () => gotoGame(trendingGames[3]) }>
            <SecondaryBanner game_name={trendingGames[3].name} game_banner={trendingGames[3].screenshotUrl}/>
        </button>
        <button on:click={ () => gotoGame(trendingGames[4]) }>
            <SecondaryBanner game_name={trendingGames[4].name} game_banner={trendingGames[4].screenshotUrl} />
        </button>
    </div>
</div>

<style>
    .banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 35rem;
        margin-top: 1.5rem;
    }

    .main-banner-container {
        all: unset;
        display: inline-block;
        width: 70%;
    }

    .secondary-banners {
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 30%;
        transform: translateY(-0.25rem);
    }

    .secondary-banners button {
        all: unset;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 25%;
        max-height: 25%;
    }
</style>
