<script>
    import { trendingReviewsStore } from "../store";
    import ContentHeader from "./ContentHeader.svelte";
    import Review from "./Review.svelte";
</script>

<div class="container">
    <ContentHeader header_title="Trending Reviews" />
    <hr/>
    {#each $trendingReviewsStore as review }
        <Review account_name={review.user.displayName} game_title={review.game.name} review_likes={review.likes} stars={review.rating} review_text={review.text} cover_url={review.game.coverUrl} game_id={review.game.id} user_id={review.user.id} />
    {/each}
</div>

<style>
    .container {
        width: 50%;
    }

    hr {
        background-color: #d7cbe86e;
        margin: 0;
        margin-top: 1.5rem;
    }
</style>