<script>
    import { onMount } from "svelte";
    import { loggedUserStore } from "../store";

    export let user_id;

    let user = { displayName: "loading" };
    let reviews = []
    let displayName = "loading"
    onMount(async () => {
        // Fetching data from user
		fetch("http://192.168.0.24:8080/users/" + user_id)
		.then(response => response.json())
		.then(data => {
			console.log(data);
			user = data;
            if ($loggedUserStore.id == user_id) {
                displayName = "Your"
            } else {
                displayName = user.displayName + "'s"
            }
		}).catch(error => {
			console.log(error);
			return {};
		});

        // Fetching all reviews from the user
        fetch("http://192.168.0.24:8080/reviews/user/" + user_id)
		.then(response => response.json())
		.then(data => {
			console.log(data);
			reviews = data;
		}).catch(error => {
			console.log(error);
			return [];
		});
    });

    import ContentHeader from "./ContentHeader.svelte";
    import Review from "./Review.svelte";
</script>

<div class="background-gradient">
    <div class="main-content">
        <ContentHeader header_title="{displayName} Reviews" show_more_button="false"/>
        <hr>
        <div class="reviews">
            {#each reviews as review}
                <Review account_name={user.displayName} game_title={review.game.name} review_likes={review.likes} stars={review.rating} review_text={review.text} cover_url={review.game.coverUrl} game_id={review.game.id} user_id={review.user.id} />
            {/each}
        </div>
    </div>

    <div class="footer"></div>
</div>

<style>
    /* Styling for the background */
    .background-gradient {
        background-image: linear-gradient(#624F81, #2F2440);
        background-color: #2F2440;
        background-image:         linear-gradient(top, #624F81 0%, #2F2440 300px); /* W3C */
        background-image:    -moz-linear-gradient(top, #624F81 0%, #2F2440 300px); /* FF3.6+ */
        background-image: -webkit-linear-gradient(top, #624F81 0%, #2F2440 300px); /* Chrome10+,Safari5.1+ */
    }

    .main-content {
        padding-top: 2rem;
        min-height: 100vh;
    }

    /* Styling for the reviews section */
    hr {
        background-color: #d7cbe86e;
        margin: 0;
        margin-top: 1.5rem;
    }

    .reviews {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
    }

    .footer {
        height: 5rem;
    }
</style>