<script>
	import { onMount } from 'svelte';
	import { allGamesStore, loggedUserStore, newReviewsStore, trendingGamesStore, trendingReviewsStore } from "./store.js"

	onMount(async () => {
		// Fetch logged user data
		fetch("http://192.168.0.24:8080/users/54")
		.then(response => response.json())
		.then(data => {
			console.log(data);
			loggedUserStore.set(data);
		}).catch(error => {
			console.log(error);
			return { displayName: "error" };
		});

		// Fetch trending games data
		fetch("http://192.168.0.24:8080/games/trending/5")
		.then(response => response.json())
		.then(data => {
			console.log(data);
			trendingGamesStore.set(data);
		}).catch(error => {
			console.log(error);
			return [];
		});

		// Fetch trending reviews data
		fetch("http://192.168.0.24:8080/reviews/trending/5")
		.then(response => response.json())
		.then(data => {
			console.log(data);
			trendingReviewsStore.set(data);
		}).catch(error => {
			console.log(error);
			return [];
		});

		// Fetch new reviews data
		fetch("http://192.168.0.24:8080/reviews/new/5")
		.then(response => response.json())
		.then(data => {
			console.log(data);
			newReviewsStore.set(data);
		}).catch(error => {
			console.log(error);
			return [];
		});

		// Fetch all games data
		fetch("http://192.168.0.24:8080/games/additional/trending/12")
		.then(response => response.json())
		.then(data => {
			console.log(data);
			allGamesStore.set(data);
		}).catch(error => {
			console.log(error);
			return [];
		});

		fetch("http://192.168.0.24:8080/games?query=elden")
		.then(response => response.json())
		.then(data => {
			console.log("query data")
			console.log(data);
		}).catch(error => {
			console.log(error);
			return [];
		});
	})

	import { path, resolve, params } from 'elegua';

	import Headerbar from "./components/Headerbar.svelte";
	import HomePage from "./components/HomePage.svelte";
	import AllGamesPage from "./components/AllGamesPage.svelte"
    import GamePage from './components/GamePage.svelte';
    import UserPage from './components/UserPage.svelte';
    import SearchPage from './components/SearchPage.svelte';
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">

<Headerbar />
{#if resolve($path, "/")}
	<HomePage />
{:else if resolve($path, "/games")}
	<AllGamesPage />
{:else if resolve($path, "/game/:game_id")}
	<GamePage igdb_id={$params["game_id"]} />
{:else if resolve($path, "/user/:user_id")}
	<UserPage user_id={$params["user_id"]} />
{:else if resolve($path, "/search")}
	<SearchPage />
{/if}